body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.slider{
    width: 700px;
    height: 400px;
    overflow: hidden;
    position: absolute;
}

.slides{
    display: flex;

}
.navigation-bar{
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}
input{
    display: none;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius:20px;
    cursor: pointer ;

}
.manual-btn:not(:last-child){
    margin-right: 20px;

}
.manual-btn:hover{
    background: #fff;
    transition: 0.4s;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slide{
    width: 25%;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#radio1:checked~.first{
    margin-left: 0;
}

#radio2:checked~.first{
    margin-left: -25%;
}

#radio3:checked~.first{
    margin-left: -50%;
}

#radio1:checked~.navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked~.navigation-auto .auto-btn3{
    background-color: #fff;
}
